html {
    height: 100%;
}

body {
    color: #333;
    height: 100%;
}

div.container-center{
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 5px;
    width: 70%;
    min-height: 200px;
    max-height: 1000px;
    padding: 20px;
    overflow: hidden;
}

div.container-curved {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0;
    overflow: hidden;
}

#footer-push {
    height: 3em;
}

#footer {
    height: 3em;
}

.text-center {
    color: #333;
}

#push {
    height: 50px;
}

#wrapper {
    background-color: #777;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -3em;
}
